
.profile {
	text-align: center;
	margin: 80px;
}
.design {
	text-align: center;
	margin: 40px;
}
.foto {
	text-align: center;
	margin: 40px;
}
.motion {
	text-align: center;
	margin: 40px;
}
body{
	background-color: white;
}
